html, body {
    overflow-x: hidden;
  }
  
.full-width-borders {
    margin: 0 -601.5rem;
    padding: 0.25rem 1.5rem;
    background: whitesmoke;
    border-left: 600rem solid rgb(31, 29, 29);
    border-right: 600rem solid rgb(31, 29, 29);
  }

.head {
    text-align: center;
}

.button-container form,
.button-container form div {
    float: left;
}

.button-container button {
    vertical-align: middle;
}

.clr {
    clear:both;
}